/*Navbar styling*/
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

.navbar li {
	float: left;
	border-right: 1px solid #ffffff;  
}

li:last-child {
	border-right: none;
}

.navbar li, a {
	display: inline;
	color: #ffffff;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

/*Material styling*/s
.bibliography li p {
	color: #000000;
	font-size: 20px;
}

.exlist li{
	display: inline-block;
	color: #000000;
	font-size: 18px
}

.exlist img {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	float: left;
}

.orgslist li p {
	color: #000000;
	font-size: 18px;
}

.titlesocial {
	text-align: center;
}

footer {
	text-align: center;
	font-size: 15px;
	display: block;
}