/*Navbar styling*/
.navbar {
	position: sticky;
	top: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
	border-right: 1px solid #ffffff;  
}

li:last-child {
	border-right: none;
}

li, a {
	display: inline;
	color: #ffffff;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

/*Material styling*/
.content {
	
}

a {

}

header {

}

main {

}

h1 {

}

h2 {

}

p {

}

footer {
	text-align: center;
	font-size: 15px
}